<style>
img {
opacity: 0.5;
}
</style>
<body>
<div class="container">
<%= image_tag("home-real-estate-106399.jpg",style:"width:100%")%>
</body>
<div class="centered">
<%= render partial: 'form'%>
</di>
</div>


  