<h1>New House</h1>

<%= render partial: 'form', locals:{house: @house, button_label: "Create House"} %>



<! --  <% if  current_user%>
<h1><%= @house.adress %></h1>
<p>Total Number of Guests: <%= @house.guests.count %></p>
<p>comment: <%= @house.comment %></p> 
<li> -->
