



 <script>
 alert('Welcome! Please create a new account or log in');
</script>

<%= render partial: 'form', locals:{user: @user, button_label: "Create User"} %>


<br></br>
<button class="button button1">
<%= link_to 'Log In', signin_path %>
</button>



