
<h1> user/show </h1>

<li>
<%= form_for @user do |f| %>
 <%= f.text_field :name %></br>
 </li>

 <li>
 <%= f.email_field :email %></br> 
 <%end%>
 </li>


 <! -- link_to new_guest_path -->
 <! -- link_to /logout -->


 